{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-lg-9">
    {% if articles %}
        {% for article in (articles_page.object_list if articles_page else articles) %}
         <article>
             <a  href='{{SITE_URL}}/{{article.url}}' class="list-group-item pjaxlink clearfix">
             {{article.title}}
             <span class="badge">{{article.date|strftime('%Y-%m-%d') }}</span>
         </a>
         </article>
        {% endfor %}
    {% endif %}
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    function FadeInOnScroll(ObjectList){
        ObjectList.each(function(i) {
            var bottom_of_object = $(this).position().top + $(this).outerHeight();
            var bottom_of_window = $(window).scrollTop() + $(window).height();

            if( bottom_of_window > bottom_of_object ){
                $(this).fadeTo(750,1);
            }
        });
    }

    articles = $("article").fadeTo(0, 0.05);
    FadeInOnScroll(articles)

    $(window).scroll(function() {
        FadeInOnScroll(articles)
    });
</script>
{% endblock %}
